In [17]:
d1={}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [7]:
d1={"Name":"Rakesh","Roll NO":21, "Marks":100}
print(d1)
print(type(d1))

{'Name': 'Rakesh', 'Roll NO': 21, 'Marks': 100}
<class 'dict'>

In [9]:
d2={"red":10, "Blue":20,"orange":30}
print(d2)
print(type(d2))

{'red': 10, 'Blue': 20, 'orange': 30}
<class 'dict'>

In [12]:
d1.append(d2)

AttributeError: 'dict' object has no attribute 'append'

In [19]:
d2={"red":"red", "red":"blue","orange":30}
print(d2)
print(type(d2))

{'red': 'blue', 'orange': 30}
<class 'dict'>

In [25]:
#Accesing element of dictionary
d2=['red']
d2

['red']

In [29]:
#Add key :value pair
d2['qual']="B.E"

In [32]:
d2={"red":"red", "red":"blue","orange":30}
print(d2)
print(type(d2))

{'red': 'blue', 'orange': 30}
<class 'dict'>

In [34]:
d2['qual']="B.E"
print(d2)
print(type(d2))

{'red': 'blue', 'orange': 30, 'qual': 'B.E'}
<class 'dict'>

In [35]:
e1={"name":"pratil"}
e1

{'name': 'pratil'}

In [36]:
e1.update({"salary":5000,"dep":"acc"})
e1

{'name': 'pratil', 'salary': 5000, 'dep': 'acc'}

In [37]:
print(d1.get("Age"))

None

In [42]:
e1['salary']=5000+(5000*0.20)
e1

{'name': 'pratil', 'salary': 6000.0, 'dep': 'acc'}

In [45]:
e1['name']="Rakesh"
e1

{'name': 'Rakesh', 'salary': 6000.0, 'dep': 'acc'}

In [48]:
data={"teams":["mi","csk","rcb","rr"],"wins":[5,4,0,1]}
data

{'teams': ['mi', 'csk', 'rcb', 'rr'], 'wins': [5, 4, 0, 1]}

In [49]:
data["teams"]

['mi', 'csk', 'rcb', 'rr']

In [51]:
data["wins"]

[5, 4, 0, 1]

In [53]:
data['teams'][0]

'mi'

In [54]:
data['wins'][0]

5

In [56]:
data['teams'][2]

'rcb'

In [57]:
data['wins'][2]

0

In [58]:
data['teams'][1]
data['wins'][1]

4

In [61]:
#Deletation method
d1={"Name":"Rakesh","Roll NO":21, "Marks":100}
print(d1)
print(type(d1))

{'Name': 'Rakesh', 'Roll NO': 21, 'Marks': 100}
<class 'dict'>

In [62]:
d1.pop("Roll NO")

21

In [63]:
d1

{'Name': 'Rakesh', 'Marks': 100}

In [65]:
d1.clear()
d1

{}

In [66]:
del d1

In [67]:
d1

NameError: name 'd1' is not defined

In [68]:
#Built in Functions

e1

{'name': 'Rakesh', 'salary': 6000.0, 'dep': 'acc'}

In [69]:
e1.keys()

dict_keys(['name', 'salary', 'dep'])

In [70]:
e1.values()

dict_values(['Rakesh', 6000.0, 'acc'])

In [71]:
e1.items()

dict_items([('name', 'Rakesh'), ('salary', 6000.0), ('dep', 'acc')])

In [72]:
e2=e1.copy()

In [73]:
e2

{'name': 'Rakesh', 'salary': 6000.0, 'dep': 'acc'}