In [6]:
#Empty set
s1={ }
print(s1)
print(type(s1))

{}
<class 'dict'>

In [9]:
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [10]:
s1={12,3,"python",55.44}
print(s1)
print(type(s1))

{3, 'python', 12, 55.44}
<class 'set'>

In [12]:
s1=set(range(10,61,10))
print(s1)
print(type(s1))

{40, 10, 50, 20, 60, 30}
<class 'set'>

In [13]:
s1[0]="rakesh"
print(s1)
print(type(s1))

TypeError: 'set' object does not support item assignment

In [17]:
s1.add("Zpython")
print(s1)
print(type(s1))

{'python', 'Zpython', 40, 10, 50, 20, 60, 30}
<class 'set'>

In [19]:
s1.add("java")
print(s1)
print(type(s1))

{'python', 'Zpython', 40, 10, 50, 20, 'java', 60, 30}
<class 'set'>

In [27]:
#TO update multiple element
s1={10,20,30}
s1.update(s1)
print(s1)
print(type(s1))

{10, 20, 30}
<class 'set'>

In [29]:
l1=[10,20,30,10]
s1={10,20,40}
s1.update(l1)
s1

{10, 20, 30, 40}

In [32]:
l2=[1,1,3,2,3,4,2]
s1=set(l2)
s1

{1, 2, 3, 4}

In [33]:
l1=list(s1)
l1

[1, 2, 3, 4]

In [34]:
#Deletation method
s1=set(range(10,101,10))
s1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [35]:
s1.pop()
s1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [36]:
s1.pop()

70

In [37]:
s1.remove(40)
s1

{10, 20, 30, 50, 60, 80, 90}

In [38]:
s1.discard(100)  #will not give error if value is not present
s1

{10, 20, 30, 50, 60, 80, 90}

In [39]:
s1.remove(100)

KeyError: 100

In [40]:
s1.clear()
s1

set()

In [41]:
del s1

In [42]:
s1

NameError: name 's1' is not defined

In [46]:
#Mathematical operation on set
#Union

s1={10,20,30,40}
s2={30,40,50,60}

In [47]:
s1.union(s2) #Return all element from set

{10, 20, 30, 40, 50, 60}

In [48]:
print(s1|s2)

{40, 10, 50, 20, 60, 30}

In [49]:
s1.intersection(s2) #common element between them

{30, 40}

In [53]:
s1={10,20,30,40}
s2={30,40,50,60}

print(s2.difference(s1))  #not if first list

{50, 60}

In [55]:
s1={10,20,30,40}
s2={30,40,50,60}

print(s1.symmetric_difference(s2)) #not common elememts

{10, 50, 20, 60}

In [57]:
#Frozenset - to make the set immutable
s1={10,20,30,40}
s1

{10, 20, 30, 40}

In [60]:
s1.add(100)
s1

{10, 20, 30, 40, 100}

In [61]:
s2=frozenset(s1)
s2.add(s1)
s2

AttributeError: 'frozenset' object has no attribute 'add'