In [2]:
#Empty Tuple
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t1=tuple()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [4]:
t1=(1,2,'python',5)
print(t1)

(1, 2, 'python', 5)

In [6]:
t2=tuple(range(1,21))
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [8]:
#How to create single value tuple
t4=("python",)  #without comma it will consider it as tuple
print(t4)
print(type(t4))

('python',)
<class 'tuple'>

In [9]:
t2[0]

1

In [11]:
t2[0:10]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
t2[10::-1]

(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [13]:
t2[3:20:3]

(4, 7, 10, 13, 16, 19)

In [16]:
t5=(1,1,2,3,2)
t5

(1, 1, 2, 3, 2)

In [18]:
l1=(-1,-2,"one")
t5=tuple(l1)
t5

(-1, -2, 'one')

# Tuple vs Immutability

In [19]:
t=(0,20,34,56,78)
t[1]=70
t

TypeError: 'tuple' object does not support item assignment

In [20]:
t1=tuple(range(10,51,10))
t1

(10, 20, 30, 40, 50)

In [21]:
l1=list(t1) #it will become list we can now change values
l1

[10, 20, 30, 40, 50]

In [23]:
l1[1]="python"
l1

[10, 'python', 30, 40, 50]

In [24]:
t1=tuple(l1)
print(t1)

(10, 'python', 30, 40, 50)

In [26]:
#Mathematical operations
t1=(1,2,4,5)
t2=(6,7,8,9,10)
t1+t2

(1, 2, 4, 5, 6, 7, 8, 9, 10)

In [28]:
t1*2
t1

(1, 2, 4, 5)

In [29]:
#Built in functin
print(len(t))

5

In [32]:
t=(10,10,20,30,40)
t.count(0)

0

In [34]:
print(t.index(40))

4

In [36]:
t=(40,12,4,5,23,1)
t1=sorted(t)
t1

[1, 4, 5, 12, 23, 40]